#Products{
   max-width: 75%;
   min-height: 100vh;
   margin: auto;
   display: flex;
   flex-direction: column;
   gap: 40px;
   
   .productsTitle{
    h1{
        font-size: 34px;
    }
   }
   .productBtns{
    ul {
        list-style: none;
        display: flex;
        gap: 25px;
        li {
          transition: 0.2s linear;
          cursor: pointer;
          
        }
      }
   }
}

.productFetched{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  
    
    .card{
        i{
            transition: .3s linear;
            opacity: 0;
            
        }
       .cardImg{
        &:hover{
            i{
                opacity: 1;
                cursor: pointer;
            }
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
        img{
            transition: .3s linear;
           
        }
        margin: 20px 0 ;
        position: relative;

        .detailsBtn{
            transition: .2s linear;
           
            position: absolute;
            left: 10%;
            top: 0;
            z-index: 100;

            i{
                width: 30px;
                min-height: 30px;
                border-radius: 50%; 
                display: grid;
                place-items: center;
              
            }
        }
        &:hover{
            overflow: visible;
            img{
                scale: 120%;
            }
           

        }
        i{
            position: absolute;
            top: 3%;
            right: 3%;
            transition: .2s linear;
        }
       }
       p{
        font-size: 12px;
        color: #888888;
       }
       h5{
        font-weight: 400;
       }
    }
}

